* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: white;
}

.navbar {
  background: linear-gradient(90deg, #b0e57c, #56ab2f, #2e8b57, #006400);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 26px;
}

.action ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

.action li {
  margin: 10px;
}

.action li a {
  text-decoration: none;
  color: white;
}

.img-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.img-text .img img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.img-text .text {
  margin: 0;
  padding: 80px;
  background-color: white;
}

.img-text .text h1 {
  margin-bottom: 16px;
  font-size: 30px;
}

.img-text .text p {
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 0.3px;
}

.follow-us h1 {
  text-align: center;
  margin: 10px;
  text-decoration: solid;
  font-weight: 700;
}

.icons ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icons ul li {
  list-style: none;
  font-size: 30px;
  padding: 25px;
}

.feedback-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f4;
}

.feedback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

#feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  margin: 24px;
  padding: 20px;
  display: flex;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

#feedback-form h1 {
  font-weight: 700;
  font-size: 24px;
}

.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.input label {
  font-size: 16px;
  font-weight: 700;
}

.input input,
.input textarea {
  margin-top: 10px;
  border: none;
  border: 1px solid grey;
  padding: 5px;
}

#feedback-form button {
  width: 50%;
  padding: 10px;
  background-color: #559240;
  border-radius: 5px;
}

#feedback-form hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 1px solid #ccc;
}

#successMessage {
  display: none;
  color: green;
}

.team-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.team-info h1 {
  font-size: 30px;
}

.team {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 64px;
}

.Pramukh {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Yathish {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Manu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image {
  height: 300px;
  width: 300px;
  border-radius: 30px;
  overflow: hidden;
}

.info {
  text-wrap: wrap;
}

.info h3 {
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .img-text .text {
    width: 100%;
  }

  .feedback-container {
    width: 90%;
  }

  .feedback-form {
    justify-content: center;
    align-items: center;
  }

  .team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
  }

  .action ul {
    display: flex;
    list-style: none;
    gap: 2px;
  }
}

@media (min-width: 769px) and (max-width: 1025px) {
  .img-text .text {
    width: 100%;
  }

  .feedback-container {
    width: 80%;
  }

  .feedback-form {
    justify-content: center;
    align-items: center;
  }

  .action ul {
    display: flex;
    list-style: none;
    gap: 2px;
  }

  .team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
  }

  .Yathish {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .Manu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .Pramukh {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .info {
    width: 30%;
    text-wrap: wrap;
  }
}