:root {
  --text-dark: #000;
  --text-light: #fff;
  --text-grey: #adbdcc;
  --body-font: "Roboto", sans-serif;
  --heading-font: "Anek Telugu", sans-serif;
  --h1-size: 94px;
  --h1-height: 108px;
  --h2-size: 50px;
  --h2-height: 75px;
  --h3-size: 40px;
  --h4-size: 32px;
  --h5-size: 28px;
  --h6-size: 22px;
  --subtitle-size: 17px;
  --subtitle-height: 26px;
  --p-size: 18px;
  --p-height: 26px;
  --secondary-text-size: 14px;
  --secondary-text-height: 18px;
  --button-size: 16px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;
  --standard-width: 1144px;
  --purple-1: #6962f7;
  --purple-2: #7000ff;
  --green-2: #6ed066;
  --white-1: #f7f9fc;

  --blue-1: #00d4ff;
  --primary-accent: #56ab2f;
  --primary-button-hover: #006400;
  --bg-white: #f7f9fc;
  --bg-light: #edeef0;
  --bg-green: #559240;


}

h1 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: var(--h1-size);
  margin: 0;
  width: 100%;
  letter-spacing: -1px;
  line-height: var(--h1-height);
}

h2 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h2-size);
  margin: 0;
  width: 100%;
  letter-spacing: -0.25px;
  line-height: var(--h2-height);
}

h3 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h3-size);
  margin: 0;
  width: 100%;
}

h4 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h4-size);
  margin: 0;
  width: 100%;
  letter-spacing: 0.25px;
}

h5 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h5-size);
  margin: 0;
  width: 100%;
}

h6 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--h6-size);
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
  
  font-weight: 500;
  transition: color 0.25s ease;
  padding: 0 var(--spacing-lg);
}

a:hover {
  color: var(--primary-accent);
}

p {
  font-size: var(--p-size);
  line-height: var(--p-height);
  font-weight: 400;
  margin: var(--spacing-md) 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--body-font);
  color: var(--text-dark);
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0 0 0;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-container {
  width: 100%;
  max-width: var(--standard-width);
}

.two-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.two-column>.col-left {
  width: 50%;
  box-sizing: border-box;
  padding: 0 var(--spacing-md) 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.two-column>.col-right {
  width: 50%;
  box-sizing: border-box;
  padding: 0 0 0 var(--spacing-md);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.subtitle,
.subtitle2 {
  color: var(--purple-1);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--subtitle-size);
  line-height: var(--subtitle-height);
}

.subtitle2 {
  color: var(--blue-1);
}

.secondary-text {
  font-size: var(--secondary-text-size);
  line-height: var(--secondary-text-height);
  color: var(--text-grey);
  letter-spacing: 0.25px;
}

.primary-button {
  font-family: var(--body-font);
  font-size: var(--button-size);
  letter-spacing: 1.25px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  background: var(--primary-accent);
  color: var(--text-light);
  padding: var(--spacing-sm) var(--spacing-md);
  transition: all 0.15s ease;
}

.primary-button:hover {
  background-color: var(--primary-button-hover);
  cursor: pointer;
}

.secondary-button {
  font-family: var(--body-font);
  font-size: var(--button-size);
  letter-spacing: 1.25px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  color: var(--green-2);
  transition: all 0.15s ease;
}

.secondary-button:hover {
  opacity: 0.75;
  cursor: pointer;
}

.with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.with-icon>img {
  transition: transform 0.25s ease;
}

.with-icon:hover>img {
  transform: translateX(4px);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) var(--spacing-md);
  background-color: var(--bg-green);
  box-sizing: border-box;
  background: linear-gradient(90deg, #b0e57c, #56ab2f, #2e8b57, #006400);

}

.hamburger-button {
  display: none;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.5s;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.menu a {
  color: var(--text-dark);
  margin: 0 var(--spacing-md);
  font-weight: bold;
  color: white;
}

.menu a:hover {
  text-decoration: underline;
}

.navbar-button {
  background: rgba(250, 250, 250, 0.25);
}

.navbar-button:hover {
  background: rgba(250, 250, 250, 0.5);
}
.custom-logos{
  display: flex;
  
}
.custom-logos{
  display: flex;
  
}
.custom-logos img{
  margin: 0 20px;
}

main {
  margin: 0;
  width: 100%;
}

.button-container {
  display: flex;
  margin: var(--spacing-md) 0;
}

.button-container button:nth-of-type(2) {
  margin: 0 0 0 var(--spacing-md);
  color: var(--green-2);
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: var(--spacing-xl) 0 var(--spacing-xl) 0;

}

.hero p {
  max-width: 480px;
}

.hero .hero-tree-container {
  height: 564px;
  align-items: flex-end;
}

.hero-tree {
  height: 628px;
  transform: translate(32px, -32px);
}

.partners-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: var(--spacing-xl) 0;
  column-gap: var(--spacing-md);
  row-gap: var(--spacing-lg);
}

.partners-grid img {
  height: 60px;
  place-self: center;
}

.advice-heading {
  margin: var(--spacing-md) 0;
}

.advice {
  padding: var(--spacing-md) 0;
  margin: var(--spacing-xl) 0 var(--spacing-xl) 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #b0e57c, #56ab2f, #2e8b57, #006400);

}



/* packing items*/
.firstthings {
  width: 100%;
  margin: var(--spacing-xl) 0 var(--spacing-xl) 0;
  display: flex;
  justify-content: center;
}

.firstthings .card-container {
  display: flex;
  margin: var(--spacing-lg) 0;
}

.firstthings .card-container .card {
  width: 25%;
  padding: 0 var(--spacing-sm) 0 0;
  margin: 0 var(--spacing-md) 0 0;
  box-sizing: border-box;
}

.firstthings .secondary-text {
  color: var(--text-dark);
}

/* benifits*/

.benifits .card-container {
  display: flex;
  margin: var(--spacing-lg) 0;
}

.benifits .card-container .card {
  width: 25%;
  padding: 0 var(--spacing-sm) 0 0;
  margin: 0 var(--spacing-md) 0 0;
  box-sizing: border-box;
}

.benifits .secondary-text {
  color: var(--text-dark);
}



.benifits {
  background-color: var(--bg-green);
  background: linear-gradient(90deg, #b0e57c, #56ab2f, #2e8b57, #006400);

  padding: var(--spacing-lg) 0 0;
  margin: var(--spacing-md) 0 var(--spacing-md) 0;
  width: 100%;
  display: flex;
  justify-content: center;

}

.reviews {
  display: flex;
  justify-content: center;
}

.promotion {
  width: 100%;
  margin: var(--spacing-xl) 0 var(--spacing-xl) 0;
  display: flex;
  justify-content: center;
}

.promotion .card-container {
  display: flex;
  margin: var(--spacing-lg) 0;
}

.promotion .secondary-text {
  color: var(--text-dark);
}

.promotion .col-right {
  width: 65%;
  flex-direction: row;

}

.promotion .col-right .card {
  width: 50%;
  padding: 0 var(--spacing-sm) 0 var(--spacing-sm);
  margin: 0 var(--spacing-sm) 0 var(--spacing-sm);
  box-sizing: border-box;

}



.footer{
  display:flex;
  justify-content: center;
  background-color: var(--bg-light);
  padding: var(--spacing-xl) 0;
}

.footer .section-container {
  display: flex;
  flex-direction: row;
}

.footer .col {
  width: 25%;

}

.footer .col ul {
  list-style: none;
  padding: 0;
}

.footer .col a {
  color: var(--text-dark);
  font-weight: normal;
}

.footer .col a:hover {
  color: var(--green-2);
  font-weight: normal;
}

.footer .icon-link {
  display: flex;
  align-items: center;
  margin: var(--spacing-sm) 0;

}

.footer .icon-link img {
  width: 24px;
  margin-right: 10px;
}

#footer-logo {
  max-width: 108px;
  margin: 0 0 var(--spacing-md) 0;
}

.footer h3 {
  font-weight: 700;
  margin: 0;
}

.footer .col a {
  padding: 0;
}

@media only screen and (max-width:1114px) {
  .section-container {
    padding: 0 var(--spacing-md);
  }
}

@media only screen and (max-width:768px) {
  :root {
    --h1-size: 64px;
    --h1-height: 72px;
    --h3-size: 34px;
  }
   .navbar .main-logo{
    width : 10%; 
    height:auto;
  }
  .navbar .menu{
    display:none;
    flex-direction: row;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background:linear-gradient(90deg, #b0e57c, #56ab2f, #2e8b57, #006400);
    padding: var(--spacing-md) 0;
    margin: 0;
  }
  .navbar .custom-logos{
    display: none;
  }
  .menu.active{
    display: flex;
  }

  .hamburger-button{
    width:50px;
    height:30px;
    background-color: rgba(250,250,250,0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hamburger-button .bar{
    width: 16px;
    height: 1px;
    background-color: var(--bg-white);
    display: flex;
    margin: 2px;
  }
  .hero .two-column{
    align-items: center;
  }
  .hero-tree{
    height: 325px;
    padding: 0 var(--spacing-sm) 0 var(--spacing-sm);
   

  }
  .hero .col-left{
    width:60%;
    --h1-size:55px;
    --p-size:15px;
  }
  .hero .col-right{
    width:40%
  }
  .hero .hero-tree-container {
    height: 350px;
  }
  .advice .two-column{
    flex-direction: column;
  }
  .advice .two-column .col-left{
    width:100%;
    --h5-size: 20px;
    --p-size:15px;
    
  }
  .advice .two-column .col-right{
    padding: 0;
    width:100%;
    --h5-size: 20px;
    --p-size:15px;
  }
  


  .firstthings .card-container{
    flex-wrap: wrap;
    
  }

  .navbar .menu {
    display: none;
    flex-direction: row;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background: linear-gradient(90deg, #b0e57c, #56ab2f, #2e8b57, #006400);
    padding: var(--spacing-md) 0;
    margin: 0;
  }

  .navbar .custom-logos {
    display: none;
  }

  .menu.active {
    display: flex;
  }

  .hamburger-button {
    width: 50px;
    height: 30px;
    background-color: rgba(250, 250, 250, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hamburger-button .bar {
    width: 16px;
    height: 1px;
    background-color: var(--bg-white);
    display: flex;
    margin: 2px;
  }

  .hero .two-column {
    align-items: center;
  }

  .hero-tree {
    height: 325px;
    padding: 0 var(--spacing-sm) 0 var(--spacing-sm);


  }

  .hero .col-left {
    width: 60%;
    --h1-size: 55px;
    --p-size: 15px;
  }

  .hero .col-right {
    width: 40%
  }

  .hero .hero-tree-container {
    height: 350px;
  }

  .advice .two-column {
    flex-direction: column;
  }

  .advice .two-column .col-left {
    width: 100%;
    --h5-size: 20px;
    --p-size: 15px;

  }

  .advice .two-column .col-right {
    padding: 0;
    width: 100%;
    --h5-size: 20px;
    --p-size: 15px;
  }



  .firstthings .card-container {
    flex-wrap: wrap;

  }

  .firstthings .card-container .card {
    width: 50%;
    padding: 0 var(--spacing-sm);
    margin: var(--spacing-sm) 0;

  }

  .benifits .card-container {
    flex-wrap: wrap;
  }

  .benifits .card-container .card {
    width: 50%;
    margin: var(--spacing-sm) 0;
    padding: 0 var(--spacing-sm);


  }

  .promotion .section-container .two-column {
    flex-direction: column;
  }

  .promotion .two-column>.col-left {
    width: 100%;
    padding: var(--spacing-sm);
    margin: var(--spacing-sm);

  }

  .promotion .two-column>.col-right {
    flex-direction: column;
    padding: 0;
    width: 100%;
    margin: 0 var(--spacing-md);

  }

  .promotion .col-right .card {
    width: 100%;
    padding: var(--spacing-sm) 0;
    margin: var(--spacing-sm) 0;
  }

  .promotion .col-right .card .secondary-button {
    padding: 0;
  }
  footer {
    background: linear-gradient(90deg, #b0e57c, #56ab2f, #2e8b57, #006400);
  }
 
  /*
  .footer {
    --h6-size:20px;
    font-size: small;
    padding: var(--spacing-md) 0;
  }
    */

  
}




@font-face {
  font-family: "CustomFont";
  src: url("../asset/trekking-font-final.otf") format("opentype");
}

.custom-header {
  font-family: "CustomFont", sans-serif;
  color: rgb(133, 87, 44);
  padding: 0 0 var(--spacing-md) 0;
}